<!-- manager/dashboard/dashboard.component.html -->
<div class="container mt-4">
  <h2>🧭 Manager Dashboard</h2>

  <div class="dashboard-buttons">
    <h4 class="mt-3">🚕 Taxi Management</h4>
    <a routerLink="/manager/taxi/taxi-form" class="dashboard-button btn btn-outline-primary m-2">Add New Taxi</a>
    <a routerLink="/manager/taxi/taxi-list" class="dashboard-button btn btn-outline-primary m-2">View Taxi List</a>

    <h4 class="mt-4">🧑‍✈️ Driver Management</h4>
    <a routerLink="/manager/driver/driver-form" class="dashboard-button btn btn-outline-success m-2">Register Driver</a>
    <a routerLink="/manager/driver/driver-list" class="dashboard-button btn btn-outline-success m-2">View Driver List</a>

    <h4 class="mt-4">📈 Price Management</h4>
    <a routerLink="/manager/price/price-form" class="dashboard-button btn btn-outline-warning m-2">Set Price Per Minute</a>
    <a routerLink="/manager/price/price-list" class="dashboard-button btn btn-outline-warning m-2">View Price History</a>


  </div>
</div>
