<div class="container mt-4">
    <h2>🚗 Driver Dashboard</h2>
  
    <p class="lead">Welcome, {{ driverName }}!</p>
  
    <div class="dashboard-buttons">
      <a routerLink="/driver/turn/create" class="btn btn-success m-2">Request Taxi</a>
      <a routerLink="/driver/request" class="btn btn-outline-primary m-2">Ver Pedidos Pendentes</a>
      <a routerLink="/driver/register-trip" class="btn btn-outline-success m-2">Register Trip</a>
      <a routerLink="/driver/issue-invoice" class="btn btn-outline-warning m-2">Issue Invoice</a>
    </div>
  </div>
  
  