<div class="container mt-5">
    <h2 class="mb-4">🧑‍✈️ Driver Login</h2>
  
    <form (ngSubmit)="onLogin()" class="row g-3">
      <div class="col-md-6">
        <label for="nifInput" class="form-label">Enter NIF</label>
        <input type="text" id="nifInput" class="form-control" [(ngModel)]="selectedNif" name="nif" required pattern="^[1-9][0-9]{8}$" />
      </div>
  
      <div class="col-md-6">
        <label class="form-label">Or choose from list</label>
        <select [(ngModel)]="selectedNif" name="nifList" class="form-select">
          <option *ngFor="let driver of drivers" [value]="driver.nif">
            {{ driver.name }} ({{ driver.nif }})
          </option>
        </select>
      </div>
  
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
  
      <div class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg }}</div>
    </form>
  </div>
  