.page-wrapper--driver {
    padding: 4vh 1rem;
    background-color: #f2f4f8;
    min-height: 100vh;
  }
  
  .dashboard-card--form {
    padding: 2.5rem;
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  }
  
  .page-wrapper--driver {
    padding-bottom: 15vh;
  }